*.d
*.crf
*.o
*.lst
*.axf
*.htm
*.dep
*.map
*.lnp
*.hex
*.bschmalz
*.sct
*.keichers
*.xcl
*.pbi
*.pbi.*
*.ps1
*.out
*.sim
*.dnx
*.wsdt
*.pbw
*.pbd
*.pbd.*
*.ewd
EWARM/settings/
 